---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import LandingCard, { Props as LandingCardProps } from "@/components/SectionEntry.astro";

// Icons
const projects: Array<LandingCardProps> = [
  {
    time: "2023-2025",
    title: "UAV Forge",
    link: "https://sites.uci.edu/uavforgeuci/",
    description: `
      Autonomous drone team for which I developed the inference architecture and obstacle avoidance systems. 
      U.S. #1 at SUAS 2025.
    `
  },
  {
    time: "2022-2025",
    title: "AntAlmanac",
    link: "https://antalmanac.com/",
    description: `
      Schedule-planning web application trusted by tens of thousands of UC Irvine students.
      I led as well as developed as a fullstack engineer on a React, tRPC, and PostgreSQL stack.
    `
  },
  {
    time: "2025",
    title: "frame-transforms",
    link: "https://pypi.org/project/frame-transforms/",
    description: `
      Lightweight, thread-safe, Python-native PyPi (pip) package to automatically compute frame transformations in robotics.
    `
  },
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 md:grid-cols-3 border-b py-8 border-base-200 dark:border-base-800"
    >
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <Text tag="h2" variant="textSM" class="text-base-900 dark:text-white lg:pt-2">
          Projects
        </Text>
      </div>
      <div class="lg:col-span-2 flex flex-col gap-2">
        {
          projects.map((project) => (
            <LandingCard
              link={project.link}
              title={project.title}
              description={project.description}
              time={project.time}
            />
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
