---
interface Props {
  variant?: "standard" | "prose"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  standard: "max-w-5xl mx-auto px-8",
  // For Markdown blog posts
  prose:`
    prose prose-md prose-headings:font-medium 
    text-base-600 dark:text-base-400 prose-headings:text-base-900 dark:prose-headings:text-white 
    prose-blockquote:text-base-500 dark:prose-blockquote:border-base-500 
    prose-blockquote:font-normal prose-blockquote:tracking-normal 
    prose-img:border prose-img:border-base-200 dark:prose-img:border-base-700 
    dark:prose-code:text-white 
    prose-a:no-underline prose-a:text-accent-600 prose-a:dark:text-accent-400 prose-a:hover:text-accent-500 prose-a:duration-100
    dark:prose-hr:border-base-800 prose-hr:border-base-300 
    prose-pre:border-none prose-pre:rounded-xl prose-strong:font-medium dark:prose-strong:text-white 
    max-w-none prose-pre:scrollbar-hide
  `,
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <!-- Render the default slot content -->
  <slot />
</div>
