---
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import Eye from "@/components/fundations/icons/Eye.astro";

// Scripts
import ThemeToggle from "@/components/assets/ThemeToggle.astro";
---

<div class="fixed scale-85 top-2 right-4 lg:scale-100 flex flex-col items-center p-0.5 gap-1 z-50 h-min w-min">
    <!-- Logo/Home button -->
    <a
      href="/"
      aria-label="Home"
      class="flex items-center font-medium justify-center transition-all rounded-lg  duration-300 focus:ring-2 focus:outline-none focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-base-900 text-base-900 dark:text-white bg-base-50 dark:bg-base-800 hover:bg-base-100 focus:outline-base-100 dark:text-white dark:bg-base-800 dark:hover:bg-base-800 dark:focus:outline-base-800 size-10 text-sm dark:focus:ring-offset-base-900"
    >
      /
    </a>

    <Button
      isLink={true}
      iconOnly
      size="base"
      variant="muted"
      href="/system/overview"
      aria-label="System Overview"
    >
      <Eye slot="icon" size="sm" />
    </Button>

    <ThemeToggle aria-label="Toggle theme" />
</div>
